/* styles.css 
   Project: 
   Author: 
   Date: 
	
   Helpful links: 
   	Web colors: 
   		https://en.wikipedia.org/wiki/Web_colors#X11_color_names
	Color picker tool:
		https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Color_picker_tool
		http://colorpicker.com

*/

/*Neuzeit Grotesk Regular
font-family: "neuzeit-grotesk", sans-serif;
font-weight: 400;
font-style: normal;

Neuzeit Grotesk Bold
font-family: "neuzeit-grotesk", sans-serif;
font-weight: 700;
font-style: normal;

Neuzeit Grotesk Cond Black
font-family: "neuzeit-grotesk-condensed", sans-serif;
font-weight: 900;
font-style: normal;

Neuzeit Grotesk ExtCond Black
font-family: "neuzeit-grotesk-extra-conden", sans-serif;
font-weight: 900;
font-style: normal;*/

* {box-sizing: border-box;}

body {
  padding: 10px;
}

img {
  width: 100%;
  display: block
}

.table-section {
  height: 300px;
}

.zip-code .zip-input {
  padding: 10px;
  cursor: text;
  width: 80%;
}

/*MENU*/
.content-menu {
  /*border-bottom: 2px solid black;*/
  position: relative;
  width: 100%;
  padding: 10px;
  /*height: 60px;*/
  /*background-color: white;*/
  z-index: 2000;
}


.story-page-menu .menu-logo{
  position: relative;
  margin: auto;
  width: 150px;
}

/*END MENU*/

.zip-go, .county-go, #oktryagain {
  background-color: #fb991b;
  border: none;
  border-radius: none;
  color: black;
  font-family: "neuzeit-grotesk", sans-serif;
  padding: 10px;
  cursor: pointer;

}

.loading {
  width: 100%;
  position: absolute;
  top: 150px;
  z-index: 6000;
  display: none;
}

  .loading-content {
    width: 350px;
    margin: auto;   
    font-family: "neuzeit-grotesk", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    
  }

.source {
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: italic;
  display: none;
  max-width: 900px;
  margin: auto;

}

.source a {
  color: black;
}

.source a:visited {
  color: black;
}


#county-label {display: none;}
#counties {display: none;}
.county-go {display: none;}


.headline {
  width: 100%;
  text-shadow: -1px 1px 5px #8b8b8b;
  text-align: center;
}

.headline h1 {
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 700;
  color: #253444;
  margin: 0px;
  font-size: 35px;
}


.zip-code {
  text-align: center;
  margin-top: 20px;
}

.zip-go {
  margin-left: 5px;
}

.tryagain {
  font-family: "neuzeit-grotesk", sans-serif;
  width: 100%;
  position: fixed;
  top: 10vh;
  z-index: 500;
  letter-spacing: 2px;
  display: none;
}


.tryagaintext {
  background-color: rgba(255,255,255,0.9);
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px white;
  color: black;
  height: 385px;
  box-shadow: -1px 1px 5px #8b8b8b;
}

  .tryagaintext h2 {
    font-size: 40px;
  }

  .tryagaintext p {
    font-size: 25px;
  }

  #oktryagain{

  }


.table {
  font-family: "neuzeit-grotesk", sans-serif;
  max-width: 900px;
  margin: auto;
  /*border: 1px solid black;*/
  margin-top: 40px;
  display: none;

}  


.row {
   display: flex;
   align-items: stretch;
   margin-top: 20px;
   box-shadow: -1px 1px 5px #8b8b8b;
}

.table-title-box {
   width: 20%;
   display: block;
   align-items: center;
}  

.table-title-box {
   position: relative;
   width: 40%;
   /*left: -20px;*/
}

.risk-video-wrap {
   position: relative;
   filter: drop-shadow(-1px 1px 5px #8b8b8b);
   height: 100%;
/*   box-shadow: -1px 1px 5px #8b8b8b; */
}

.risk-video-outline {
   width: 100%;
   height: 100%;
   background-color: white;
   /*clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);*/
   clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
}

.risk-video {
   width: 100%;
   height: 100%;
   /*clip-path: polygon(22% 0%, 98% 0%, 78% 100%, 2% 100%);*/
   clip-path: polygon(0% 0%, 98% 0%, 78% 100%, 0% 100%);
}

.risk-video img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
/*    opacity: 0.6;*/

  }  

.table .table-title {
   font-family: "neuzeit-grotesk", sans-serif;
   color: #f5f4e9;
   text-shadow: -1px 1px 5px #8b8b8b;
   position: absolute;
   width: 80%;
   height: 100%;
   text-align: left;
   top: 5%;
   left: 10px;
   /*right: 62px;*/
   text-transform: uppercase;
   letter-spacing: 5px;
}

.data {
   width: 80%;
   display: grid;
   align-self: stretch;
   font-size: 16px;
   padding-right: 10px;
}

.zip_code_display {
   font-size: 35px;
   font-weight: 700;
}
.county_display {
   font-size: 35px;
   font-weight: 700;
}

.days {
   width: 100%;
   display: flex;
   align-items: center;
   padding: 20px;
}

.label {
  width: 35%;
  font-size: 20px;
}

.boxes {
  width: 65%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.deg_90 {
  color: #fb991b;
  font-weight: bold;
}

.deg_100 {
  color: #f95819;
  font-weight: bold;
}

.days_90 {
  border-bottom: 1px solid #fb991b;
}

.today_box { text-align: center; }
.yrs30_box { text-align: center; }
.more_days_box { text-align: center; }

.today {
   font-size: 35px;
   font-weight: 700;
}

.yrs30 {
   font-size: 35px;
   font-weight: 700;
}

.more_days {
   font-size: 35px;
   font-weight: 700;
}

/*CAROUSEL*/

.content-header {
  padding: 0px;
  font-family: "neuzeit-grotesk", sans-serif;
  font-size: 40px;
  text-align: center;
  max-width: 800px;
  margin: auto;
  border-bottom: 2px solid #fb991b;
  font-weight: 300;
  color: #1469be;
  text-shadow: -1px 1px 5px #b1b7ba;
}

.wt-logo-small {
  width: 300px;
  display: inline-flex;
}

.carousel-section {
  /*background-color: white;*/
  z-index: 1000;
  position: relative;
}

.carousel-section .content-header h3{
  color: #253444;
  font-size: 25px;
  font-weight: 500;
  margin-top: 60px;
  margin-bottom: 0px;
}

.carousel-header {
  margin-top: 0px;
}

.carousel-tile {
  position: relative;
  background-color: white;
}

.carousel-tile a {
  height: 100%;
}

  .carousel-tile img {
    opacity: 0.5;
    object-fit: cover;
    height: 100%;
    display: block;
  }

.story-title {
  position: absolute;
  width: 320px;
  height: 100%;
  top: 0px;
  padding: 15px;
  text-align: center;
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #253444;
  text-shadow: -1px 1px 5px #b1b7ba;
  cursor: pointer;

}

.story-title p {
  word-break: normal;
  white-space: normal;
}

/*END CAROUSEL*/ 


@media only screen and (max-width: 700px) {

  .days {
    display: block;
  }

  .table-title-box {
    width: 40%;
  }

  .data {
    width: 60%;
  }

  .table-label {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .boxes {
    width: 100%;
  }


}

@media only screen and (max-width: 570px) {

  .row {
    display: block;
  }

  .table-title-box {
    width: 100%;
    height: 150px;
  }

  .table-title {
    font-size: 18px;
    line-height: 26px;

  }

  .zip_code_display {
    font-size: 37px;
  }

  .county_display {
    font-size: 37px;
  }

  .data {
    width: 100%;
    padding-left: 10px;
  }

  .label {
    font-size: 25px;
  }

  .days {
    padding: 10px;
  }

  .today {
     font-size: 50px;
  }

  .yrs30 {
     font-size: 50px;
  }

  .more_days {
     font-size: 50px;
  }

  .risk-video-outline {
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    height: 100%;
  }

  .risk-video {
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 95%);

  }

}











