/* styles.css 
   Project: 
   Author: 
   Date: 
	
   Helpful links: 
   	Web colors: 
   		https://en.wikipedia.org/wiki/Web_colors#X11_color_names
	Color picker tool:
		https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Color_picker_tool
		http://colorpicker.com

*/

/*Neuzeit Grotesk Regular
font-family: "neuzeit-grotesk", sans-serif;
font-weight: 400;
font-style: normal;

Neuzeit Grotesk Bold
font-family: "neuzeit-grotesk", sans-serif;
font-weight: 700;
font-style: normal;

Neuzeit Grotesk Cond Black
font-family: "neuzeit-grotesk-condensed", sans-serif;
font-weight: 900;
font-style: normal;

Neuzeit Grotesk ExtCond Black
font-family: "neuzeit-grotesk-extra-conden", sans-serif;
font-weight: 900;
font-style: normal;*/

/*html {
    scroll-behavior: smooth;
}*/

* {
   box-sizing: border-box;
}

img {
   width: 100%;
   display: block;
}

body {
  /*background-color: black;*/
}

a {
  color: #1469be;
  text-decoration: none;
}

a:visited {
  color: #1469be;
  text-decoration: none;
}

/*delete this if it doesn't work!*/

.main-container {
  min-height: 724px;
}

/*delete this if it doesn't work!*/

.header-bg-overlay {
   width: 100%;
   height: 100vh;
   position: fixed;
   top: 0;
   opacity: 1;
   z-index: 0;
}   

.header-bg-overlay img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.hidden {
  display: none;
}


#begin {
  width: 100%;
  height: 1px;
  /*background-color: white;*/
}

#first-content {
  display: none;
}

.header {
   width: 100%;
   height: 100vh;
   position: relative;
}

.background {
   width: 100%;
   height: 100vh;
   object-fit: cover;
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: 1;
   opacity: 0.25;
   -webkit-mask-image: linear-gradient(to bottom, black 65%, rgba(0,0,0,0.4) 80%, rgba(0,0,0,0.1) 90%, transparent 100%);
  overflow: hidden;
}

   .background img {
      width: 100%;
      height: 125vh;
      object-fit: cover;
   }

   .background video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
   }

.mobile-background {
  display: none;
}   



.header-content {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   padding: 20px;
   z-index: 2;
   
}

.header-title {
   font-family: "neuzeit-grotesk", sans-serif;
   /*font-weight: 700;*/
   font-style: normal;
   text-align: center;
   padding-top: 15vh;
   max-width: 700px;
   margin: auto;
   position: relative;
}

.header-title .logo {
   width: 250px;
   margin:auto;
}

.header-title h1 {
   margin: 0px;
   font-size: 3em;
   border-bottom: 3px solid #f5f4e9;

}

.title-text {
  transform: scale(1.7);
}

.directions {
  max-width: 900px;
  margin: auto;
  text-align: center;
  font-family: "neuzeit-grotesk", sans-serif;
  /*text-shadow: -1px 1px 4px #666666;*/
  color: #253444;
  font-size: 20px;
  font-weight: 500;
}


/*DROPDOWN STYLING*/

.community-input {
  position: relative;
  top: -90px;
  z-index: 3;
}


  .choose_location {
    display: block;
    width: 100%;
    /*height: 71px;*/
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;

    /*align-items: center;*/
  }   

      .input {
         width: 100%;
         font-size: 16px;
         padding: 14px 20px 12px 20px;
         border: none;
         border-bottom: 1px solid #ddd;
         font-family: "neuzeit-grotesk", sans-serif;
         height: 50px;
      }

      .input:focus {outline: 3px solid #ddd;}


      .dropdown {
        position: relative;
        display: block;
        /*overflow: hidden;*/
        max-width: 700px;
        margin: auto;
        /*z-index: 2;*/

              
      }

      .dropdown-content {
        background-color: #f6f6f6;
        overflow: auto;
        /*border: 1px solid #ddd;*/
        width: 40%;
        margin: auto;
        /*position: relative;*/
        /*margin-top: 10px;*/

      }

      .dropdown-content p {
        color: black;
        padding: 10px 14px;
        text-decoration: none;
        display: block;
        margin: 5px 0px;

      }

      .drop {
        display: none;
        height: 300px;
        overflow: scroll;
        font-family: "neuzeit-grotesk", sans-serif;
        width: 40%;
        z-index: 50;
        position: absolute;
        background-color: white;
        z-index: 10;

      }

      

      .drop p {
        cursor: pointer;
      }

      .dropdown p:hover {background-color: #ddd;}

      .show {display: block;}

      #countyDropdown, #zipDropdown {
        /*display: none;*/
      }

      #OR1, #OR2 {
        /*display: none;*/
      }

.or {
  font-family: "neuzeit-grotesk", sans-serif;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.8em;
  font-weight: bold;
}      

   
    

.gobutton {
  max-width: 350px;
  /*background-color: #253444;*/
  background-color: #fb991b;
  padding: 10px;
  text-align: center;
  margin: auto;
  font-family: "neuzeit-grotesk", sans-serif;
  /*margin-top: 20px;*/
  display: none;
  cursor: pointer;
  color: white;
  border: none;

}

  .gobutton:hover {
    /*background-color: #0058f6;*/
    transform: scale(1.1);
    box-shadow: 0px 0px 5px #b1b7ba;
  }

.gobutton a {
  color: white;
  text-decoration: none;
}  

.gobutton a:visited {
  color: white;
  text-decoration: none;
}  





/*END DROPDOWN STYLING*/




/*_________________CONTENT STYLING________________*/


.content {
  /*background-color: white;*/
  position: relative;
  z-index: 2;
  padding: 10px;
}

#begin {
  /*display: none;*/
}

/*MENU*/
.content-menu {
  /*border-bottom: 2px solid black;*/
  position: relative;
  width: 100%;
  padding: 10px;
  /*height: 60px;*/
  /*background-color: white;*/
  z-index: 2000;
}


.menu-title {
  font-size: 13px;
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 500;
}

  .menu-title h1 {
    margin: 0px;
  }

.menu-options {
  cursor: pointer;
}  

.menu-options a {
  text-decoration: underline;
  color: black;
}  

.menu-options a:visited {
  text-decoration: underline;
  color: black;
} 

.menu-back-to-top {
  /*width: 130px;*/
  width: 65px;
  position: absolute;
  left: 5px;
  top: 0px;
  font-family: "neuzeit-grotesk", sans-serif;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  color: black;
  text-decoration: underline;
}

.menu-logo {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 150px;
}

.menu-arrow {
  width: 30px;
  margin: auto;
}

.menu-back-to-top a {
  color: black;
}

.menu-back-to-top a:visited {
  color: black;
}

.story-page-menu {
  top: 10vh;
}

.story-page-menu .menu-logo{
  position: relative;
  margin: auto;
  width: 200px;
}


/*END MENU*/


.content-header {
  padding: 0px;
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.main-content-header {
  padding: 0px;
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.video-box {
  width:100%;
  position: relative;
  z-index: 1000;
  padding-bottom: 50px;
  padding-top: 50px;
}

.video {
  width: 100%;
  height: 0px;
  margin: auto;
  padding-top: 56%;
  position: relative;
  background-color: white;
}

  .video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
  }

.not-home-content-header {
  padding-top: 1px; 
}

.not-home-content-header h2 {
  margin-top: 20px;
  margin-bottom: 5px;
  border-bottom: 3px solid #f5f4e9;
  font-size: 40px;
}


.content-header h3 {
  border-bottom: 3px solid #fb991b;
  font-weight: 300;
  color: #1469be;
  text-shadow: -1px 1px 5px #b1b7ba;
}

.main-content-header h3 {
  border: none;
  font-weight: 300;
  color: #1469be;
  text-shadow: -1px 1px 5px #b1b7ba;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content-location {
  font-weight: 700;
  /*color: #5cb268;*/
  /*color: #2d6456;*/
  color: #1469be;
  color: #253444;
  text-shadow: -1px 1px 5px #b1b7ba;
}


.content-header p {
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.change_geo {
  max-width: 350px;
  /*background-color: #253444;*/
  background-color: #fb991b;
  /*background-color: #1469be;*/
  padding: 10px;
  text-align: center;
  margin: auto;
  font-family: "neuzeit-grotesk", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  color: white;
  box-shadow: -1px 1px 5px #b1b7ba;
}

  .change_geo:hover {
    /*background-color: #0058f6;*/
    transform: scale(1.1);
    /*box-shadow: 0px 0px 5px #fb991b;*/
  }

.zoom-out-or-in-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(255,255,255,0.8);
  z-index: 3000;
  padding: 20px;
  display: none;
}


.zoom-out-or-in {
  position: relative;
  top: 20vh;
  background-color: rgba(255,255,255,0.9);
  max-width: 800px;
  margin: auto;
  margin-bottom: 50px;
  box-shadow: 2px 2px 5px black;
  padding: 20px;
  
}

.zoombutton {
  max-width: 350px;
  background-color: #253444;
  padding: 10px;
  text-align: center;
  margin: auto;
  font-family: "neuzeit-grotesk", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  color: white;
  border: none;
}

  .zoombutton:hover {
    /*background-color: #0058f6;*/
    transform: scale(1.1);
    box-shadow: 0px 0px 5px #fb991b;
  }

#county_zoombutton {
  display: none;
} 

#zip_zoombutton {
  display: none;
} 

#choose_zip {
  max-width: 650px;
  margin: auto;
}

#zipDropdown {
  max-width: 100%;

}

#zipdrop {
  max-width: 600px;
}

  #zipInput {
    border: 1px solid black;
  }


.zoom-back-to-top a {
  color: white;
  text-decoration: none;
}

.zoom-back-to-top a:visited {
  color: white;
  text-decoration: none;
}  


/*concerns*/
.concern-container {
  max-width: 900px;
  margin: auto;
  grid-gap: 10px;
/*  height: 700px;*/

}

.concern-wrap {
   box-shadow: -1px 1px 5px #b1b7ba; 
   -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    height: 250px;

}

.concern-wrap a {
  text-decoration: none;
}

.concern {
  position: relative;
  left: 0px;
  width: 100%;
  /*background-color: black;*/
  border: none;
  cursor: pointer;
  margin-top: 50px;
   clip-path: polygon(0% 0%, 100% 0,100% 100%, 0 100%);
   /*box-shadow: -1px 1px 5px #b1b7ba; */
  height: 100%;

}

.concern-title {
  height: 100%;
}


.concern-wrap:hover {
    transform: scale(1.05);
    z-index: 3;
  }

.risks-box {
   display: flex;
   height: 100%;
}  

.risks {
  text-align: left;
}

.title-box {
   position: relative;
   width: 40%;
   /*left: -20px;*/
}

.risk-video-wrap {
   position: relative;
   filter: drop-shadow(-1px 1px 5px #b1b7ba);
   height: 100%;
/*   box-shadow: -1px 1px 5px #b1b7ba; */
}

.risk-video-outline {
   width: 100%;
   height: 100%;
   background-color: white;
   /*clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);*/
   clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
}

.risk-video {
   width: 100%;
   height: 100%;
   /*clip-path: polygon(22% 0%, 98% 0%, 78% 100%, 2% 100%);*/
   clip-path: polygon(0% 0%, 98% 0%, 78% 100%, 0% 100%);
}

.risk-video video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
/*    opacity: 0.6;*/

  }  

.risk-title {
   font-family: "neuzeit-grotesk", sans-serif;
   font-weight: 700;
   font-size: 95px;
   color: #f5f4e9;
   text-shadow: -1px 1px 5px #b1b7ba;
   position: absolute;
   width: 100%;
   height: 100%;
   text-align: left;
   top: 5%;
   left: 10px;
   /*right: 62px;*/
   text-transform: uppercase;
   letter-spacing: 5px;
   line-height: 80px;
}


.risks{
   width: 60%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   color: black;
   text-shadow: -1px 1px 8px #b1b7ba;

}

.big-numb {
   font-family: "neuzeit-grotesk", sans-serif;
   font-weight:700;
   font-size: 100px;
   line-height: 50px;
}

.click-for-more {
   font-size: 20px;
   text-transform: uppercase;
   background-color: #1469be;
   padding: 5px;
   font-family: "neuzeit-grotesk", sans-serif;
   font-weight:500;
   font-size: 15px;
   color: white;
   position: absolute;
   bottom: 5px;
   right: 5px;
   box-shadow: -1px 1px 5px #b1b7ba;


/*   &:after {
    content: '';
    position: absolute;
    right: -20px; bottom: 0; width: 0; height: 0;
    border-left: 20px solid #ffba00;
    border-left: 20px solid white;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
  }*/

}



.bold {
   font-weight: 800;
}

.major-risk .bold {
   color: #fb991b;
} 

.severe-risk .bold {
   color: #f95819;
} 


/*______________MAP____________ */

.map-container {
  width: 100%;
  height: 88vh;
  position: relative;

}

.map-header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 40%;
  margin: 0px;
  z-index: 1000;
  /*background: linear-gradient(90deg, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);*/
  padding-left: 40px;
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  margin: auto;

}

.map-subheader {
  font-size: 18px;
  text-shadow: none;
}

.map-header-content {
  width: 80%;
  margin-top: 50px;
  /*text-shadow: -1px 1px 5px #b1b7ba;*/
  color: #253444;
}

/*.map-subheader a {
      color: #00318b;
    }

    .map-subheader a:visited {
      color: #00318b;
    }*/

.map-legend {
  margin-top: 60px;
}

.mobile-legend {
  display: none;
}

.mobile-extra-legend {
  display: none;
}


.legend-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;*/
  max-width: 400px;
  font-family: "neuzeit-grotesk", sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin: auto;
  margin-bottom: 20px;

}

.legend-label {
  text-align: right;
  position: relative;
  right: -10px;
}

.legend-color {
  max-width: 40px;
  /*max-width: 80px;*/
  height: 30px;
}
  
  .pct-0 {
    background-color: #DADADA;
  }

  /*.pct-0-10 {
    background-color: #f0f723;
  }

  .pct-10-20 {
    background-color: #f5dd27;
  }

  .pct-20-30 {
    background-color: #fbbf2b;
  }

  .pct-30-40 {
    background-color: #f38a47;
  }

  .pct-40-50 {
    background-color: #d8586a;
  }

  .pct-50-60 {
    background-color: #c2407d;
  }

  .pct-60-70 {
    background-color: #ac2790;
  }

  .pct-70-80 {
    background-color: #8b169a;
  }

  .pct-80-90 {
    background-color: #6703a5;
  }

  .pct-90-100 {
    background-color: #0d0787;
  }*/

  .pct-0-10 {
    background-color: #f0f0cb;
  }

  .pct-10-20 {
    background-color: #f6f074;
  }

  .pct-20-30 {
    background-color: #fcf019;
  }

  .pct-30-40 {
    background-color: #fcc51a;
  }

  .pct-40-50 {
    background-color: #fb991b;
  }

  .pct-50-60 {
    background-color: #fa791a;
  }

  .pct-60-70 {
    background-color: #f95819;
  }

  .pct-70-80 {
    background-color: #ea4213;
  }

  .pct-80-90 {
    background-color: #da290c;
  }

  .pct-90-100 {
    background-color: #be0000;
  }




  .map-subheader-mobile {
    display: none;
    font-size: 18px;
  }

  .map-subheader-mobile-click {
    display: none;
    font-size: 18px;
  }

  .map-subheader-mobile-hide {
    display: none;
    cursor: pointer;
    text-decoration: underline;
    font-size: 18px;
  }


.raw-map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#map {
  width: 80%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  -webkit-mask-image: linear-gradient(to left, black 0%, black 75%, rgba(0,0,0,0.5) 85%, transparent 100%);
 /* -webkit-mask-image: linear-gradient(to top, black 0%, black 30%, transparent 100%);*/
} 

.boundary {
  z-index: 100 !important;
  position: relative;
}

.leaflet-container {
  background: none !important;
}

.leaflet-boundary-pane {
  z-index: 500;
}

.leaflet-tile-pane {
  opacity: 1 !important;
}

.leaflet-tooltip-pane {
  z-index: 600;
}

.leaflet-control-zoom {
  z-index: 6000 !important;
}

.tooltip-style {
  max-width: 400px !important;
}

.tooltip-headline {
  width: 100%;
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 10px;
}

.tooltip-content {
  width: 100% !important;
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 400;
  font-size: 17px;

}

.tooltip-bold {
  font-weight: 700;
}

.tooltip-source {
  width: 100% !important;
  margin-top: 10px;
  font-size: 14px;
  font-style: italic;
}

.loading {
  width: 100%;
  /*height: 100vh;*/
  position: fixed;
  z-index: 7005;
  top: 30vh;
}

  .loading-content {
    width: 350px;
    margin: auto;
    position: relative;
    font-family: "neuzeit-grotesk", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    
  }

  .loading-icon {
    /*animation: loading 1.5s linear infinite;*/
  }

    @keyframes loading{
      0% {transform: rotate(0deg);}
      50% {transform: rotate(180deg);}
      100% {transform: rotate(360deg);}
    }

.map-tabs {
  position: relative;
  z-index: 3000;
  overflow: hidden;
  margin-top: 50px;
}

.map-tab {
  float:left;
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  font-size: 15px;

}

.click-more-info-map {
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
  background-color: #253444;
  margin: 5px;
  cursor: pointer;
  color: white;
  width: 70%;
  margin: auto;
  /*margin-top: 30px;*/
  maring-bottom: 30px;
  font-size: 13px;
}

.click-more-info-map:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px black;
}


.search_map_zip {
  position: absolute;
  z-index: 7000;
  top: 10px;
  right: 65px;
  width: 300px;
  display: flex;
}

.box-mobile {
  display: none;
}

.box-mobile-small {
  display: none;
}

#zipDropdownMap {
  width: 100%;
}

#zipdropmap {
  width: 100%;
}

#zip_mapbutton {
  margin-left: 5px;
  /*display: none;*/
}

/*TRY AGAIN*/

.tryagain {
  font-family: "neuzeit-grotesk", sans-serif;
  width: 100%;
  position: fixed;
  top: 10vh;
  left: 0px;
  z-index: 7000;
  letter-spacing: 2px;
  display: none;
}


.tryagaintext {
  background-color: rgba(255,255,255,0.9);
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 30px;
  box-shadow: 0px 0px 10px white;
  color: black;
  height: 385px;
  box-shadow: -1px 1px 5px #8b8b8b;
}

  .tryagaintext h2 {
    font-size: 40px;
  }

  .tryagaintext p {
    font-size: 25px;
  }

  #oktryagain{
    cursor: pointer;
    background-color: #fb991b;
    border: none;
    font-size: 20px;
    padding: 5px;
  }

/*END TRY AGAIN*/


/*POPUP*/

.popup-background {
  overflow: scroll;
  font-family: "neuzeit-grotesk", sans-serif;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 7000;
  display: none;
}

.popup {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 20px;

}

.popup-content {
  position: relative;
  max-width: 750px;
  top: 7vh;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 30px 30px 30px;
  margin: auto;
  box-shadow: -1px 1px 5px #b1b7ba;
  margin-bottom: 50px;
}

.popup-content h3 {
  text-align: center;
  font-size: 2em;
}

  .popup-content h4 {
    border-bottom: 3px solid #fb991b;
    font-size: 20px;
  }

/*  .popup-content a {
    color: #00318b;
  }

  .popup-content a:visited {
    color: #00318b;
  }*/

.exit {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 50px;
  cursor: pointer;
  -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

.exit:hover {
    transform: scale(1.1);
  }

/*end popup styling
*/

/*story pages*/

.story-content-header {
  height: 100vh;
  z-index: 3000;
}

.story-content-header .background {
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 90%, transparent 100%);
  opacity: 1;
}

.story-headline {
  position: relative;
  top: 10vh;
  z-index: 4000;
  color: #253444;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: -1px 1px 5px #b1b7ba;
  /*text-shadow: -1px 1px 5px #676767;*/
  

}

.story-headline h2 {
  margin: 65px 0px 15px 0px;
  font-size: 50px;
}

.story-headline p {
 /* background-color: rgba(255,255,255,0.7);*/
  text-shadow: none;
  /*box-shadow: -1px 1px 5px #676767;*/
  color: #253444;
  margin: 0px;
}

.byline {
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
  background-color: #fb991b;
  margin: 5px;
  color: white;
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
  text-shadow: none;
  box-shadow: -1px 1px 5px #b1b7ba;
}

.scroll-down {
  width: 55px;
  margin: auto;
  position: relative;
  top: 40px;
  animation: bounce 2s infinite;
}

  @keyframes bounce {
    0% {top: 40px;}
    50% {top: 60px;}
    100% {top: 40px;}
  }


.story {
  width: 100%;
  /*background-color: white;*/
  padding: 10px;
  z-index: 1000;
  position: relative;
}

.story-text {
  max-width: 800px;
  /*background-color: white;*/
  margin: auto;
  font-family: sans-serif;
  font-size: 16px;
  
  
}

.story-text p {
  padding: 0px 25px;
  line-height: 22px;
}

.story-text ul {
  padding-left: 80px;
  line-height: 22px;
}

.drop-cap {
  font-size: 80px;
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 700;
  color: #fb991b;
  float: left;
  position: relative;
  top: 20px;
  text-shadow: -1px 1px 5px #b1b7ba;
  padding-right: 5px;
  padding-bottom: 25px;
}

.highlight {
  font-weight: bold;
  color: black;
  text-shadow: -1px 1px 5px #b1b7ba;
}

.story-text-subheader{
  /*font-family: serif;*/
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 500;
  text-shadow: -1px 1px 5px #b1b7ba;
  /*border-bottom: 3px solid #fb991b;*/
  font-size: 25px;
  text-align: left;
  color: #253444;
  padding: 0px 25px;
  margin-top: 50px;
}

.story-text-sub-sub {
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 500;
  text-shadow: -1px 1px 5px #b1b7ba;
  /*border-bottom: 3px solid #fb991b;*/
  font-size: 20px;
  padding: 0px 25px;
  margin: 50px 0px 5px 0px;
  text-align: left;
  color: #253444;
}
  .story-text-sub-sub h4 {
    margin: 0px;
  }

.video-title {
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 700;
  text-shadow: -1px 1px 5px #b1b7ba;
  font-size: 25px;
  text-align: left;
  color: #253444;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 20px;
  max-width: 800px;
  /*border-bottom: 3px solid #fb991b;*/
  padding: 0px;
}

/*PULL QUOTE STYLING*/

.pull-quote {
  width: 100%;
  height: 230px;
  margin: auto;
  position: relative;
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: 3000;
  box-shadow: -1px 1px 5px #b1b7ba;

}

.pull-quote p {
  line-height: 30px;
}

.pull-quote-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  filter: drop-shadow(-1px 1px 5px #b1b7ba);
}

.pull-quote-outline {
  width: 100%;
  height: 100%;
  background-color: white;
  clip-path: polygon(0% 0%, 100% 0%, 100% 60%, -55% 100%);
}

.pull-quote-clip {
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 55%, -60% 95%);
}

.pull-quote-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
}

  .pull-quote-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
  }


.quote-mark {
  width: 70px;
  position: absolute;
  opacity: 1;
}

  .left-quote {
    top: 5px;
    left: 5px;
  }

  .right-quote {
    bottom: 105px;
    right: 5px;
  }

  .quote {
    width: 100%;
    padding: 20px 40px;
    margin: auto;
    color: #253444;
    position: absolute;
    top: 25px;
    text-shadow: -1px 1px 5px #b1b7ba;
  }

  .attribution {
    font-weight: 400;
    font-size: 15px;
    background-color: #fb991b;
    color: white;
    padding: 4px;
    box-shadow: -1px 1px 5px #676767;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  /*END PULL QUOTE STYLING*/

.iframe {
  width: 100%;
  height: 0px;
  padding-top: 100%;
  position: relative;
}

  .iframe iframe {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    top: 0px;
    left: 0px;
  }

.embed, .img-embed {
  /*border-bottom: 3px solid #fb991b;
  border-top: 3px solid #fb991b;*/
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;

}

.img-embed-mobile {
  display: none;
}

.in-line-embed {
  width: 65%;
  float: right;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.embed-title {
  font-family: "neuzeit-grotesk", sans-serif;
}

.embed-title h4 {
  font-size: 25px;
  color: #253444;
  margin: 5px 0px 20px 0px;
  text-shadow: -1px 1px 5px #b1b7ba;
}

.embed-title p {
  font-size: 15px;
  color: #253444;
  padding: 0px;
  line-height: 18px;
}

.switch-buttons {
  font-family: "neuzeit-grotesk", sans-serif;
  margin-bottom: 10px;
  font-size: 18px;
}

.map-button {
  border: none;
  cursor: pointer;
}

.map1-button {
  background-color: #fb991b;
  color: white;
  box-shadow: -1px 1px 5px #676767;
}

.map2-button {
  background-color: #b1b7ba;
  color: black;
}

.map-embed {
  position: relative;
  height: 600px;
}

.datawrapper-map {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.map1 {
  z-index: 3000;
}

.map2 {
  opacity: 0;
}

/*end story pages*/


/*HEAT TABLE STYLING*/

.table-section {
  position: relative;
  z-index: 5000;
  height: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.zip-code .zip-input {
  padding: 10px;
  cursor: text;
  width: 80%;
  font-family: "neuzeit-grotesk", sans-serif;
}


.zip-go, .county-go, #oktryagain {
  background-color: #fb991b;
  border: none;
  border-radius: none;
  color: black;
  font-family: "neuzeit-grotesk", sans-serif;
  padding: 10px;
  cursor: pointer;

}

.table-loading {
  width: 100%;
  position: absolute;
  top: 70px;
  z-index: 6000;
  display: none;
}

  .table-loading-content {
    width: 350px;
    margin: auto;   
    font-family: "neuzeit-grotesk", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    
  }

.source {
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: italic;
  display: none;
  max-width: 900px;
  margin: auto;

}

.source a {
  color: black;
}

.source a:visited {
  color: black;
}


#county-label {display: none;}
#counties {display: none;}
.county-go {display: none;}


.table-headline {
  width: 100%;
  text-shadow: -1px 1px 5px #8b8b8b;
  text-align: center;
}

.table-headline h1 {
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 700;
  color: #253444;
  margin: 0px;
  font-size: 35px;
}


.zip-code {
  text-align: center;
  margin-top: 20px;
}

.zip-go {
  margin-left: 5px;
}

.tryagain {
  font-family: "neuzeit-grotesk", sans-serif;
  width: 100%;
  position: fixed;
  top: 10vh;
  z-index: 500;
  letter-spacing: 2px;
  display: none;
}


.tryagaintext {
  background-color: rgba(255,255,255,0.9);
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px white;
  color: black;
  height: 385px;
  box-shadow: -1px 1px 5px #8b8b8b;
}

  .tryagaintext h2 {
    font-size: 40px;
  }

  .tryagaintext p {
    font-size: 25px;
  }

  #oktryagain{

  }


.table {
  font-family: "neuzeit-grotesk", sans-serif;
  max-width: 900px;
  margin: auto;
  /*border: 1px solid black;*/
  margin-top: 40px;
  display: none;

}  


.row {
   display: flex;
   align-items: stretch;
   margin-top: 20px;
   box-shadow: -1px 1px 5px #8b8b8b;
}

.table-title-box {
   width: 20%;
   display: block;
   align-items: center;
}  

.table-title-box {
   position: relative;
   width: 40%;
   /*left: -20px;*/
}

.table-video-wrap {
   position: relative;
   filter: drop-shadow(-1px 1px 5px #8b8b8b);
   height: 100%;
/*   box-shadow: -1px 1px 5px #8b8b8b; */
}

.table-video-outline {
   width: 100%;
   height: 100%;
   background-color: white;
   /*clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);*/
   clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
}

.table-video {
   width: 100%;
   height: 100%;
   /*clip-path: polygon(22% 0%, 98% 0%, 78% 100%, 2% 100%);*/
   clip-path: polygon(0% 0%, 98% 0%, 78% 100%, 0% 100%);
}

.table-video img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
/*    opacity: 0.6;*/

  }  

.table .table-title {
   font-family: "neuzeit-grotesk", sans-serif;
   color: #f5f4e9;
   text-shadow: -1px 1px 5px #8b8b8b;
   position: absolute;
   width: 80%;
   height: 100%;
   text-align: left;
   top: 5%;
   left: 10px;
   /*right: 62px;*/
   text-transform: uppercase;
   letter-spacing: 5px;
}

.data {
   width: 80%;
   display: grid;
   align-self: stretch;
   font-size: 16px;
   padding-right: 10px;
}

.zip_code_display {
   font-size: 35px;
   font-weight: 700;
}
.county_display {
   font-size: 35px;
   font-weight: 700;
}

.days {
   width: 100%;
   display: flex;
   align-items: center;
   padding: 20px;
}

.table-label {
  width: 35%;
  font-size: 20px;
}

.boxes {
  width: 65%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.deg_90 {
  color: #fb991b;
  font-weight: bold;
}

.deg_100 {
  color: #f95819;
  font-weight: bold;
}

.days_90 {
  border-bottom: 1px solid #fb991b;
}

.today_box { text-align: center; }
.yrs30_box { text-align: center; }
.more_days_box { text-align: center; }

.today {
   font-size: 35px;
   font-weight: 700;
}

.yrs30 {
   font-size: 35px;
   font-weight: 700;
}

.more_days {
   font-size: 35px;
   font-weight: 700;
}

@media only screen and (max-width: 740px) {

  .days {
    display: block;
  }

  .table-title-box {
    width: 40%;
  }

  .data {
    width: 60%;
  }

  .table-label {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .boxes {
    width: 100%;
  }


}

@media only screen and (max-width: 570px) {

  .row {
    display: block;
  }

  .table-title-box {
    width: 100%;
    height: 150px;
  }

  .table-title {
    font-size: 18px;
    line-height: 26px;

  }

  .zip_code_display {
    font-size: 37px;
  }

  .county_display {
    font-size: 37px;
  }

  .data {
    width: 100%;
    padding-left: 10px;
  }

  .table-label {
    font-size: 25px;
  }

  .days {
    padding: 10px;
  }

  .today {
     font-size: 50px;
  }

  .yrs30 {
     font-size: 50px;
  }

  .more_days {
     font-size: 50px;
  }

  .table-video-outline {
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    height: 100%;
  }

  .table-video {
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 95%);

  }

}


/*END HEAT TABLE STYLING*/


/*CAROUSEL*/

.wt-logo-small {
  width: 300px;
  display: inline-flex;
}

.carousel-section {
  /*background-color: white;*/
  z-index: 1000;
  position: relative;
  max-width: 2500px;
  margin: auto;
}

.carousel-section-tcd {
  max-width: 2500px;
}

.carousel-section .content-header h3{
  color: #253444;
  font-size: 25px;
  font-weight: 500;
  margin-top: 60px;
}


.carousel-header {
  margin-top: 0px;
}

.carousel-tile {
  position: relative;
  background-color: white;
}

.carousel-tile a {
  height: 100%;
}

  .carousel-tile img {
    opacity: 0.5;
    object-fit: cover;
    height: 100%;
    display: block;
  }

.story-title {
  position: absolute;
  width: 320px;
  height: 100%;
  top: 0px;
  padding: 15px;
  text-align: center;
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #253444;
  text-shadow: -1px 1px 5px #b1b7ba;
  cursor: pointer;

}

.story-title p {
  word-break: normal;
  white-space: normal;
  margin-top: 10px;
}

.carousel-row-abc .story-title p {
  margin-top: 20px;
}

.story-logo {
  margin: auto;
}

.story-logo img {
  opacity: 1;
}

.story-logo-abc {
  width: 65%;
}

.story-logo-tcd {
  width: 30%;
}

/*END CAROUSEL*/ 

/*EXTREME HEAT PAGE STYLING */

.scrolly-section {
  width: 100%;
  position: relative;
}

.scrolly-bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}

.scrolly-map-title {
  position: absolute;
  top: 0px;
  left: 35px;
  z-index: 4000;
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #253444;
}

  .scrolly-map-title h2 {
    margin-bottom: 0px;
    /*border-bottom: 3px solid #fb991b; */
  }

.scrolly-map-legend {
  position: relative;
}  

.scrolly-map-legend-bar {
  margin-top: 10px;
  max-width: 400px;
  height: 20px;
  background: linear-gradient(90deg, rgba(240,240,192,1) 0%, rgba(246,240,116,1) 11%, rgba(246,240,116,1) 21%, rgba(252,197,26,1) 32%, rgba(251,153,27,1) 44%, rgba(250,121,26,1) 55%, rgba(249,88,25,1) 67%, rgba(234,66,19,1) 78%, rgba(218,41,12,1) 89%, rgba(190,0,0,1) 100%);
}  

.scrolly-map-legend-labels {
  position: absolute;
  top: 25px;
  font-weight: 300;
}

  .low { left: 0px; }
  .high { right: 35px; }

#heat_map_1 {
  max-width: 950px;
  margin: auto;
  height: 100vh;
  position: relative;
}

.scrolly-map {
  position: absolute;
  top: 120px;
  left: 0px;
  width: 100%;
  opacity: 0;

}

.scrolly-map1 {
  opacity: 1;
}

.leaflet-labels-pane {
  z-index: 5000;
}

.heat {
  opacity: 0;
}

.heat_30years {
  opacity: 0;
}

.heat125_today {
  opacity: 0;
}

.heat125_30years {
  opacity: 0;
}


.scrolly-boxes {
  /*border: 2px solid purple;*/
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
}

.scrolly-outline {
  border: 3px solid #fb991b;
}

.scrolly-fill {
  background-color: #be0000;
  color: white;
}

.scrolly-box {
  /*border: 2px solid hotpink;*/
  width: 100%;
  height: 100vh;
  position: relative;
}

.scrolly-box-7 {
  height: 50vh;
}

/*.scrolly-box-6 {
  height: 150vh;
}*/

.outer-scrolly-text {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.scrolly-text {
  color: #253444;
  max-width: 600px;
  padding: 30px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
  /*box-shadow: 2px 2px 5px black;*/
  box-shadow: -1px 1px 5px #b1b7ba;
  font-family: "neuzeit-grotesk", sans-serif;
  font-size: 20px;

}

.content2 {
  margin-top:450vh;

}

/*.content3 {
  margin-top:450vh;
}*/

/*CREDITS STYLING*/

.credits {
  position: relative;
  z-index: 7000;
  font-family: "neuzeit-grotesk", sans-serif;
  color: white;
  max-width: 900px;
  /*box-shadow: 0px 0px 20px; */
  /*background-color: rgba(13,23,33,0.8);*/
  margin: auto;
  text-align: left;
  padding: 20px;
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 100px;
  color: #253444;
}

.copywrite {
  position: relative;
  z-index: 7000;
  text-align: center;
  font-family: "neuzeit-grotesk", sans-serif;
  color: #253444;
}

.subhead {
   text-align: center;
}

.scrolltitle {
   font-family: "neuzeit-grotesk", sans-serif;
   font-weight: bold;
   letter-spacing: 2px;
   text-transform: uppercase;
}

/*END CREDITS STYLING*/


/*.fire-tab {
  box-shadow: 0px 0px 3px black;
}*/

@media only screen and (max-width: 900px) {

  .raw-map-container {
    top: -10px;
  }

  .map-container {
    height: auto;
  }


  #map {
    width: 100%;
    -webkit-mask-image: linear-gradient(to top, black 90%, rgba(0,0,0,0.3) 95%, rgba(0,0,0,0.1) 98%, transparent 100%);
    position: relative;
    height: 80vh;
  }

  .map-header {
    width: 100%;
    height: auto;
    font-size: 25px;
    padding: 0px;
    padding-bottom: 0px;
    position: relative;
    top: 0px;
  }

  .map-header-content {
    margin-top: 0px;
    width: 100%;
    margin: auto;
  }

    .map-header-content h2 {
      margin-top: 7px;
      margin-bottom: 7px;
    }

  .map-subheader {
    display: none;
    font-size: 18px;
  }


  .map-subheader-mobile {
    display: block;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .map-subheader-mobile-click {
    display: block;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 0px;
  }

  .map-legend {
    margin-top: 10px;
  } 



  .search_map_zip {
    z-index: 7000;
    left: 10px;
    right: auto;
  }

  .box-mobile {
    display: inline-block;
  }

  .box-desktop {
    display: none;
  }

  .big-numb {
    font-size: 90px;
  }

  .leaflet-control-zoom {
    margin-top: 65px !important;
  }


}


@media only screen and (max-width: 800px) {

  .mobile-background {
    display: block;
  } 

  .desktop-background {
    display: none;
  } 

  .concern-wrap {
    height: 300px;
  }

  .title-box {
    width: 50%;
  }

  .risks {
    width: 50%;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .map-embed {
    height: 500px;
  }

}


@media only screen and (max-width: 640px) {

  .header-title {
    /*padding-top: 7vh;*/
  }

  .community-input {
    top: -50px;
  }

  .header-title h1 {
    font-size: 2.5em;
  }

 /* .directions {
    font-size: 20px;
  }*/

  .input {
     height: 40px;
  }

  .or {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1.4em;
  }

  .menu-title {
    font-size: 8px;
  }

  .menu-logo {
    width: 100px;
  }

  .menu-back-to-top {
    width: 45px;
  }


  .dropdown-content {
    width: 60%;
  }

  .drop {
    width: 60%;
    height: 150px;
  }

  .outer-gobutton {
    position: absolute;
    bottom: -50px;
    width: 100%;
    z-index: 1;
  } 

  .top-three {
    display: block;
    height: 60vh;
  }

  /*concerns*/
  .concern-wrap {
    height: 400px;
  }

  .risks-box {
    display: block;
  }

  .title-box {
    width: 100%;
    height: 45%;
  }

  .risks {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    height: 55%;
  }

  .risk-video-outline {
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
  }

  .risk-video {
    clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 0% 95%);
  }


  .concern-wrap:hover {
    transform: none;
    z-index: 3;
  }

  .content-header {
    font-size: 30px;
  }

  .content-header p {
    font-size: 15px;
  }

  .mobile-legend {
    display: block;
    /*position: absolute;
    bottom: 40px;
    z-index: 7000;
    width: 300px;*/
  }

  .mobile-extra-legend {
    display: block;
  }

  .desktop-legend {
    display: none;
  }

  .legend-color {
    height: 20px;
  }

  /*.popup {
    padding: 20px;
  }*/

  .popup-content {
    top: 5px;
  }

  .map-header h2 {
    font-size: 25px;
  }

  .map-header p {
    font-size: 18px;
  }

/*  #map {
    height: 80%;
    margin-top: 30%;
  }*/

  .map-tab {
    font-size: 18px;
  }

  .map-tabs {
    margin-top: 25px;
  }

  .search_map_zip {
    bottom: 45px;
    top: auto;
  }

  .box-mobile {
    display: none;
  }

  .box-mobile-small {
    display: inline-block;
  }

  .wt-logo-small {
    display: block;
    width: 200px;
    margin: auto;
  }

  .pull-quote {
    height: 300px;
    font-size: 25px;
  }

  .right-quote {
    bottom: 135px;
  }

  .attribution {
    margin-left: 5px;
  }

  .map-embed {
    height: 430px;
  }

  .scrolly-text {
    padding: 10px;
  }

  .scrolly-map-title {
    font-size: 15px;
    left: 20px;
  }

  .scrolly-map-legend-bar {
    height: 15px;
  }

  .scrolly-map-legend-labels {
    top: 15px;
  }

  .high {
    right: 0px;
  }

  .story-text p {
    padding: 0px 0px;
  }

  .story-text-subheader, .video-title {
    padding: 0px 0px;
    font-size: 23px;
  }

  .story-text ul {
    padding-left: 25px;
  }

  .story-text-sub-sub {
    padding: 0px 0px;
  }

  .embed-title h4 {
    font-size: 23px;
  }

  .in-line-embed {
    float: none;
    width: 100%;
    margin: 50px 0px 50px 0px;
  }

  .img-embed-mobile {
    display: block;
  }

  .img-embed-desktop {
    display: none;
  }

  .story-page-menu {
    top: 5vh;
  }

  .story-headline {
    top: 5vh;
  }

  .story-headline h2 {
    margin: 30px 0px 15px 0px;
    font-size: 35px;
  }


  .table-headline h1 {
    font-size: 30px;
  }

  .pull-quote p {
    padding: 0px 20px;
  }


} 

@media only screen and (max-width: 500px) {

  .concern-wrap {
    height: 500px;
  }

  .title-box {
    height: 40%;
  }

  .risks {
    grid-template-columns: 1fr;
    height: 50%;
  }

  .risk-title {
    font-size: 85px;
  }

  .search_map_zip {
    width: 200px;
  }

  .map-embed {
    height: 345px;
  }

  .switch-buttons {
    font-size: 15px;
  }

  .story-headline h2 {
    font-size: 27px;
  }

  .byline {
    font-size: 13px;
  }

}

@media only screen and (max-width: 430px) {

  .dropdown-content {
    width: 80%;
  }

  .drop {
    width: 80%;
  }

  .map-embed {
    height: 300px;
  }
  
}





